<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
      <!-- Home page-->
      <main class="login-form">
        <div class="container">
          <div class="row justify-content-center">
            <h1 class="p-3 mb-2 bg-warning text-dark">
              Welcome to Todo Planner
            </h1>
            <button routerLink="/login" class="btn btn-info text-dark">
              Login to Todo board
            </button>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
